@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



/* --- CUSTOM SCROLLBAR --- */

/* 1. Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbars */
  height: 8px; /* Height for horizontal scrollbars */
}

/* 2. Style the "Track" (the background behind the bar) */
::-webkit-scrollbar-track {
  background: transparent; /* Keep it see-through for a modern look */
}

/* 3. Style the "Thumb" (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: #512da8; /* Light Gray (Tailwind gray-300) */
  border-radius: 20px;       /* Round edges */
  border: 2px solid transparent; /* Creates padding effect */
  background-clip: content-box;
}

/* 4. Hover State */
::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Darker Gray (Tailwind gray-400) */
}

/* --- DARK MODE SUPPORT --- */
/* This automatically switches colors when .dark class is active */
.dark ::-webkit-scrollbar-thumb {
  background-color: #512da8; /* Dark Gray (Tailwind gray-600) */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Lighter Gray (Tailwind gray-500) */
}



 .social-icon {
          border: 1px solid #ccc;
          border-radius: 20%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: #333;
          transition: 0.3s;
        }
        .social-icon:hover {
            background-color: #eee;
        }


        