@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



/* --- CUSTOM SCROLLBAR --- */

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #512da8; 
  border-radius: 20px;       
  border: 2px solid transparent; 
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}


.dark ::-webkit-scrollbar-thumb {
  background-color: #512da8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}



 .social-icon {
          border: 1px solid #ccc;
          border-radius: 20%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: #333;
          transition: 0.3s;
        }
        .social-icon:hover {
            background-color: #eee;
        }


        